/* input{
    background-color: red;
} */
 /* form{
    background-color: rgb(211, 239, 239);
 } */
  .invalid-input {
  border: 2px solid red;
  background-color: #ffe6e6; 

}
.valid-input{
    border: 2px solid rgb(13, 160, 13);
    background-color: #fcf8f8; 


}

.error-label {
  color: red;
}

.error-msg {
  color: red;
  font-size: 0.9em;
}
.buttons .reg-btn {
  margin-right: 10px;
}

